html {
  font-size: 18px;
  font-family: Helvetica;


}

span {
  color: white;
}



footer {
  display: flex;
  background-color: black;
  height: 5rem;
  align-items: center;
  text-align: left;
  margin-top: 4rem;
  padding: 5rem 10rem;
}



.top {
  display: flex;
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
}





.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}




.products {
  display: flex;
  width: 100%;
  height: 20rem;
  justify-content: space-around;
  margin: 3rem 0 3rem 0;

}


.box {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;

}




.banner {
display : flex;
background-color : black;
padding-bottom : 0.66rem;
padding-top : 0.66rem;
}





#red {
  width: 100%;
  display: flex;
  background-color: firebrick;
  flex-direction:row;
  justify-content: center;

}

#red span {
  margin: 0.75rem 3rem;

}






.box img {
  max-width: 8rem;
  height: auto;
}


div.img {
  display: flex;
  height: 9rem;
  border: 4px solid black;
  padding: 2rem 0px;
  justify-content: center;
  align-items: center;

}



span.sp {
  color: black;
}



span.gps {
  background-color: black;
  padding: 1rem 2rem;

}

div.info {
  display: flex;
  width: 100%;
  justify-content: space-between;


}


div.location {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0rem 0rem 0rem 1rem;
}



div.hours {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0rem 1rem 0rem 0rem;


}


span.num {
  background-color: black;
  padding: 1rem 2rem;

}


.box span {
  display: flex;
  background-color: black;
  text-align: center;
  padding: 0.5rem 0rem;
}


div.black h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 2rem 0 0.45rem 3rem;
}

div.black h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0rem 0rem 3rem 3rem;
}


div.black {
  display: flex;
  width: 25rem;
  height: 10rem;
  background-color: black;
  position: relative;
  top: 9rem;
  left: 9rem;
  color: white;
  flex-direction: column;
  align-items: flex-start;



}



div.banner img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  margin-left: 6rem;

}




div.banner span {
    font-size: 1rem;

}


ul {
  justify-content: center;
}


li{
  width: 100%;
  display: flex;
  background-color: firebrick;
  flex-direction:row;

  margin: 0.75rem 3rem;
  color: white;
}





@media only screen and (max-width: 1023px) {

  #red span {
    display: none;

  }




  div.glass {
    display: none;
  }



  div.location {

    margin: 0rem 0rem 0rem 0rem;
  }



  div.hours {
    margin: 0rem 0rem 0rem 0rem;
  }


  .box {
    width: 45%;
  }


footer {
padding: 5rem 0rem;
}


 div.black {
  left: 0rem;
}







}




@media only screen and (min-width: 1023px) {


  ul li{
   display: none;
  }




}


@media only screen and (max-width:470px) {

  div.black h4 {
    font-size: 0.77rem;
    font-weight: bold;
    margin: 1rem 0 0.45rem 2rem;
  }


  div.black h1 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0rem 0rem 1rem 2rem;
  }

     div.black{
      display: flex;
      width: 25rem;
      height: 5rem;
      background-color: black;
      position: relative;
      top: 9.5rem;
      color: white;
      flex-direction: column;
      align-items: flex-start;
    }


    .top {
      display: flex;
      height: 15rem;
    }

    .box {
      width: 90%;
}


  div.watch {
  display: none;
}


footer {
  display: flex;
  background-color: black;
  height: 5rem;
  align-items: center;
  margin-top: 4rem;
  padding: 5rem 0rem;
  justify-content: center;
}



div.banner img {
  margin-left: 0rem;

}


div.info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}


  div.location {
    width: 90%;
    margin: 0.5rem 1rem ;
  }



  div.hours {
    width: 90%;
    margin: 0.5rem 1rem ;


  }






}
